.chosenLetter {
	text-decoration: line-through;
}

ul li {
	display: inline-block;
	font-family: 'Eczar', serif;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1.05em;
	list-style-position: inside;
	border: 1px solid black;
}

.hide {
	display: inline-block;
}