body {
	background-image: url("../images/background.jpg");
	color: #fff;
	font-family: 'Eczar', serif;
}

.jumbotron {
	background-color: green;
	text-align: center;
}

.button {
	border-spacing: 10px;
	border-style: solid;
	border-color: black;
	
}

h1 {
	font-size: 48px;
}

h2 {
	text-align: center;
}

.chosenLetter {
	text-decoration: line-through;
}

ul li {
	display: inline-block;
	font-size: 24px;
	text-align: center;
	letter-spacing: 1.05em;
	list-style-position: inside;
	border: 1px solid black;
}

.hide {
	display: inline-block;
}

.display {
	text-decoration: underline;
}

#tracker {
	font-size: 24px;
}